<div class="alert alert-info" role="alert">
  Nave seleccionada: <strong>{{starship.name}}</strong>
</div>

<div class="card">
  <h5 class="card-header">Especificaciones
    <a class="btn btn-warning btn-sm float-right" [routerLink] = "['/film/starships/edit/', starship.id]" title="Editar">
      <i class="fa fa-pencil"></i> Editar
    </a>
  </h5>

  <div class="card-body">

    <h5 class="card-title">Modelo</h5>
    <p class="card-text">{{starship.model}}</p>

    <h5 class="card-title">Tamaño</h5>
    <p class="card-text">{{starship.length}}</p>

    <h5 class="card-title">Capacidad de carga</h5>
    <p class="card-text">{{starship.cargo_capacity}}</p>

    <h5 class="card-title">Pasajeros</h5>
    <p class="card-text">{{starship.passengers}}</p>

    <h5 class="card-title">Velcidad máxima de atmósfera</h5>
    <p class="card-text">{{starship.max_atmosphering_speed}}</p>

    <h5 class="card-title">Calificación de hiperimpulsor</h5>
    <p class="card-text">{{starship.hyperdrive_rating}}</p>

    <h5 class="card-title">Fabricante</h5>
    <p class="card-text">{{starship.manufacturer}}</p>

    <h5 class="card-title">Clase</h5>
    <p class="card-text">{{starship.starship_class}}</p>

    <h5 class="card-title">Costo en creditos</h5>
    <p class="card-text">{{starship.cost_in_credits}}</p>

  </div>
</div>
