<div class="alert alert-info" role="alert">
  Editar nave
</div>

<div class="card">
  <h5 class="card-header">Información</h5>

  <div class="card-body">

    <form [formGroup]="starshipForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label class="font-weight-bold">Nombre</label>
        <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && starshipForm.controls.name.errors">
            <small *ngIf="starshipForm.controls.name.errors.required" class="form-text text-danger">El campo <strong>nombre</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Modelo</label>
        <input type="text" class="form-control" formControlName="model" [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
        <div *ngIf="submitted && starshipForm.controls.model.errors">
            <small *ngIf="starshipForm.controls.model.errors.required" class="form-text text-danger">El campo <strong>modelo</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Tamaño</label>
        <input type="text" class="form-control" formControlName="length" [ngClass]="{ 'is-invalid': submitted && f.length.errors }">
        <div *ngIf="submitted && starshipForm.controls.length.errors">
            <small *ngIf="starshipForm.controls.length.errors.required" class="form-text text-danger">El campo <strong>tamaño</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Capacidad de carga</label>
        <input type="text" class="form-control" formControlName="cargo_capacity" [ngClass]="{ 'is-invalid': submitted && f.cargo_capacity.errors }">
        <div *ngIf="submitted && starshipForm.controls.cargo_capacity.errors">
            <small *ngIf="starshipForm.controls.cargo_capacity.errors.required" class="form-text text-danger">El campo <strong>capacidad de carga</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Pasajeros</label>
        <input type="text" class="form-control" formControlName="passengers" [ngClass]="{ 'is-invalid': submitted && f.passengers.errors }">
        <div *ngIf="submitted && starshipForm.controls.passengers.errors">
            <small *ngIf="starshipForm.controls.passengers.errors.required" class="form-text text-danger">El campo <strong>pasajeros</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Velcidad máxima de atmósfera</label>
        <input type="text" class="form-control" formControlName="max_atmosphering_speed" [ngClass]="{ 'is-invalid': submitted && f.max_atmosphering_speed.errors }">
        <div *ngIf="submitted && starshipForm.controls.max_atmosphering_speed.errors">
            <small *ngIf="starshipForm.controls.max_atmosphering_speed.errors.required" class="form-text text-danger">El campo <strong>velocidad máxima de atmósfera</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Calificación de hiperimpulsor</label>
        <input type="text" class="form-control" formControlName="hyperdrive_rating" [ngClass]="{ 'is-invalid': submitted && f.hyperdrive_rating.errors }">
        <div *ngIf="submitted && starshipForm.controls.hyperdrive_rating.errors">
            <small *ngIf="starshipForm.controls.hyperdrive_rating.errors.required" class="form-text text-danger">El campo <strong>calificación de hiperimpulsor</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Fabricante</label>
        <input type="text" class="form-control" formControlName="manufacturer" [ngClass]="{ 'is-invalid': submitted && f.manufacturer.errors }">
        <div *ngIf="submitted && starshipForm.controls.manufacturer.errors">
            <small *ngIf="starshipForm.controls.manufacturer.errors.required" class="form-text text-danger">El campo <strong>fabricante</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Clase</label>
        <input type="text" class="form-control" formControlName="starship_class" [ngClass]="{ 'is-invalid': submitted && f.starship_class.errors }">
        <div *ngIf="submitted && starshipForm.controls.starship_class.errors">
            <small *ngIf="starshipForm.controls.starship_class.errors.required" class="form-text text-danger">El campo <strong>clase</strong> es requerido.</small>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Costo en créditos</label>
        <input type="text" class="form-control" formControlName="cost_in_credits" [ngClass]="{ 'is-invalid': submitted && f.cost_in_credits.errors }">
        <div *ngIf="submitted && starshipForm.controls.cost_in_credits.errors">
            <small *ngIf="starshipForm.controls.cost_in_credits.errors.required" class="form-text text-danger">El campo <strong>costo en créditos</strong> es requerido.</small>
        </div>
      </div>

      <button class="btn btn-success btn-sm float-right" title="Guardar" [disabled]="clicked">
        <i class="fa fa-save"></i> Guardar
      </button>

    </form>

  </div>
</div>
