<div class="alert alert-info" role="alert">
  Editar nave
</div>

<div class="card">
  <h5 class="card-header">Información
    <button type="button" class="btn btn-success btn-sm float-right" title="Guardar">
      <i class="fa fa-save"></i> Guardar
    </button>
  </h5>

  <div class="card-body">

    <div class="form-group">
      <label class="font-weight-bold">Nombre</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.name}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Modelo</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.model}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Tamaño</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.length}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Capacidad de carga</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.cargo_capacity}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Pasajeros</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.passengers}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Velcidad máxima de atmósfera</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.max_atmosphering_speed}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Calificación de hiperimpulsor</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.hyperdrive_rating}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Fabricante</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.manufacturer}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Clase</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.starship_class}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Costo en creditos</label>
      <input type="text" class="form-control" placeholder="Enter email" attr.value="{{starship.cost_in_credits}}">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

  </div>
</div>
