<ngx-spinner
bdOpacity = 0.9
bdColor = "#ffffff"
size = "default"
color = "#000000"
type = "ball-8bits"
[fullScreen] = "true">
<p> Cargando... </p>
</ngx-spinner>

<div class="container p-3">

  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" width="300" class="img-fluid">
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Inicio</li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="router.url != '/my-starships'">Películas</li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="router.url === '/my-starships'">Mis naves</li>
    </ol>
  </nav>

  <div class="row">

    <div class="col col-12 col-sm-12 col-md-12 col-lg-3">
      <ul class="list-group mb-4">
        <a [routerLink] = "['/']" class="list-group-item list-group-item-action">Películas</a>
        <a [routerLink] = "['/my-starships']" class="list-group-item list-group-item-action">Mis naves</a>
      </ul>
    </div>

    <div class="col col-12 col-sm-12 col-md-12 col-lg-9">
      <router-outlet class="mb-4"></router-outlet>
    </div>

  </div>
</div>
