<h5>Lista de películas</h5>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="text-center">
      <tr>
        <th>Episodio</th>
        <th>Título</th>
        <th>Lanzamiento</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let film of films; let i = index;">
        <tr>
          <td align="center">{{film.episode_id}}</td>
          <td>{{film.title}}</td>
          <td align="center">{{film.release_date}}</td>
          <td align="center">
            <a class="btn btn-outline-primary btn-sm" [routerLink] = "['/film/'+ extractIdURL(i) +'/starships/list']" title="Ver">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="films.length == 0">
        <td colspan="4" class="text-center">No hay registros que mostrar</td>
      </tr>
    </tbody>
  </table>
</div>
