<h5>Mi lista de naves</h5>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="text-center">
      <tr>
        <th>Nombre</th>
        <th>Modelo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let starship of starships; let i = index;">
        <tr>
          <td>{{starship.name}}</td>
          <td>{{starship.model}}</td>
          <td align="center">
            <a class="btn btn-outline-primary btn-sm" [routerLink] = "['/my-starships/info/', starship._id]" title="Ver">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="starships.length == 0">
        <td colspan="4" class="text-center">No hay registros que mostrar</td>
      </tr>
    </tbody>
  </table>
</div>
